    main {
        .index-page {
            position: absolute;
            left: 3.5rem;
            top: 3.5rem;
            bottom: .25rem;
            right: .25rem;
        }
    }

    @media screen and (max-width: 992px){
        main {
            .index-page {
                left: .25rem;
            }
        }
    }

body.dark-mode {
    main {
        .main-flow {
            //
        }
    }
}