    main {
        .index-page {
            position: absolute;
            left: 5rem;
            top: 5rem;
            bottom: 1rem;
            right: 1rem;
        }

        .main-flow {
            margin-bottom: 2rem;   
        } 
    }

    @media screen and (max-width: 992px){
        main {
            .index-page {
                left: 1rem;
            }
        }
    }

body.dark-mode {
    main {
        .main-flow {
            //
        }
    }
}