main.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 4rem);
    background-image: url('../../../../assets/images/loginregisterbg.svg');
    background-position: center;
    background-size: cover;

    .login-box {
        background-color: #FFF;
        box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
        padding: 2rem;
        border-radius: .375rem;
        display: flex;
        flex-direction: column;

        h2 {
            color: #24292f;
        }

        p {
            margin-bottom: 1rem;
            color: #24292f;
        }

        form {
            max-width: 768px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;


            label:focus-within>span,
            input:not(:placeholder-shown)+span {
                color: #ff4500;
                transform: translateY(0px);
            }

            label {
                position: relative;
                color: #24292f;

                input {
                    width: 100%;
                    padding: .6rem 1.2rem;
                    margin-top: 1rem;
                    outline: none;
                    border-bottom: 1px solid #ddd;
                    color: #24292f;

                    &::placeholder {
                        opacity: 0;
                        color: #24292f;
                    }
                }

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateY(2rem);
                    font-size: 0.825em;
                    transition-duration: 150ms;
                z-index: 0;

                }
            }

            button {
                background-color: #ff4500;
                color: #FFF;
                border-radius: .375rem;
                padding: .6rem 0;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            p.register-text {
                text-align: center;
                margin-bottom: 0;
                color: #24292f;

                a {
                    cursor: pointer;
                    color: #ff4500;
                }
            }

            p.or-separator {
                text-align: center;
                margin-bottom: 0;
                color: #24292f;
            }

            a.forgot-password {
                text-align: center;
                color: #ff4500;
            }
        }
    }
}

#isPersistent {
    margin-top: 1rem;
    margin-right: .5rem;
}

#isPersistentLabel {
    margin-top: 1rem;
    user-select: none;
}

html.dark-mode {
    main.login-main {
        .login-box {
            background-color: #161b22;
            box-shadow: none;
    
            h2 {
                color: #c9d1d9;
            }
    
            p {
                color: #c9d1d9;
            }
    
            form {
                label:focus-within>span,
                input:not(:placeholder-shown)+span {
                    color: #ff4500;
                }
    
                label {
                    color: #c9d1d9;
    
                    input {
                        border-bottom: 1px solid #21262d;
                        color: #c9d1d9;
                        background-color: transparent;
    
                        &::placeholder {
                            color: #c9d1d9;
                        }
                    }
                }
    
                button {
                    background-color: #ff4500;
                    color: #FFF;
                }
    
                p.register-text {
                    color: #c9d1d9;
    
                    a {
                        color: #ff4500;
                    }
                }
    
                p.or-separator {
                    color: #c9d1d9;
                }
    
                a.forgot-password {
                    color: #ff4500;
                }
            }
        }
    }
}