main {
    .user-profile-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: calc(80vh - 4rem);
        position: relative;
        z-index: -1;
    
        .profile-banner-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
    
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .profile-banner-image-color-layer {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(1, 4, 9);
            background: linear-gradient(0deg, rgba(1, 4, 9, 1) 0%, rgba(1, 4, 9, 0.65) 50%, rgba(1, 4, 9, 0.45) 100%);
            backdrop-filter: blur(10px);
        }
    
        
    }
    
    .user-profile {
        position: absolute;
        left: 5rem;
        right: 1rem;
        bottom: 1rem;
        top: 5rem;
        z-index: 0;

        .user-profile-header.resposive-user-profile-header{
            background-color: rgba(1, 4, 9, .38);
            backdrop-filter: blur(20px);
            border-radius: .5rem;
            border: 1px solid rgba(255, 255, 255, .11);
            padding: 1rem;
            position: fixed;
            top: 5rem;
            left: 5rem;
            right: 1rem;
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            .profile-details {
                flex-direction: row;
                justify-content: left;
                margin-bottom: 0;
                .profile-image {
                    width: 2rem;
                    height: 2rem;
                }

                .profile-name-section {
                    margin-top: 0;

                    .profile-fullname {
                        font-size: .875rem;
                        margin-left: 1rem;
                    }
                }

                .follow-user-button {
                    font-size: .875rem;
                    padding: .3rem .6rem;
                    margin-left: 1rem;
                    margin-top: 0;
                }
            }

            .profile-actions {
                width: auto;
                height: 2rem;
            }

            & + .content-responsive{
                margin-top: 14rem !important;
            }
        }

        .user-profile-header {
            margin-top: 5rem;
            transition: 300ms ease-in-out;
            .profile-details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-bottom: 5rem;
                transition: 300ms ease-in-out;
        
                .profile-image{
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;
                    object-fit: cover;
            transition: 300ms ease-in-out;

                }
        
        
                .profile-name-section{
                    margin-top: 1rem;
        
                    display: flex;
            transition: 300ms ease-in-out;

                    align-items: center;
                    .profile-fullname {
                        font-size: 2rem;
                        color: #FFF;
            transition: 300ms ease-in-out;

                    }
            
                    .verified-profile{
                        background-color: #3498db;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: .5rem;
            transition: 300ms ease-in-out;

        
                        i{
                            color: #FFF;
            transition: 300ms ease-in-out;

                        }
                    }
                }
        
                .follow-user-button{
                    background-color: #efe71d;
                    margin-top: 1rem;

                    padding: .6rem 1.2rem;
                    border-radius: 2rem;
                    color: #010409;
                    transition: all 300ms ease-in-out;
        
        
                    &:hover{
                        background-color: #c4be21;
                    }
        
                    i{
                        margin-right: .5rem;
                    }
                }
            }
        
            .profile-actions {
                width: 100%;
                border-radius: .5rem;
                height: 4rem;
        
                display: flex;
                justify-content: center;
                align-items: center;
        
                nav{
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            a{
                                display: flex;
                                align-items:center;
                                color: #FFF;
                                margin-right: 1rem;
                                transition: 300ms ease-in-out;
                                font-size: 1.5rem;
                                position: relative;

                                i {
                                    font-size: 1rem;
                                    margin-right: .5rem;
                                }

                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    right: 100%;
                                    bottom: -.2rem;
                                    height: .15rem;
                                    background-color: #FFF;
                                    transition: 300ms ease-in-out;
                                }

                                &:hover {

                                    &:before {
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        
    }
}



@media screen and (max-width: 992px) {
    .community-header {
        flex-direction: column;
        align-items: center;
    }

    .community-actions {
        ul {
            li {
                margin-bottom: 1rem;
            }
        }
    }

    main {
        .user-profile {
            left: 1rem;

            .user-profile-header.resposive-user-profile-header{
                left: 1rem;
            }
        }
    }

}

body.dark-mode {



    .community-header {
        box-shadow: none;

        .community-name {


            img {
                border-color: #010409;
            }

            a {
                color: #FFF;
                text-shadow: #24292f;

            }
        }

        .community-actions {
            ul {
                li {
                    a {
                        &:hover {
                            background-color: #ff4500;
                        }

                        color: #FFF;
                    }
                }
            }
        }
    }
}