main {    
    .user-profile {
        position: absolute;
        left: 5rem;
        right: 1rem;
        bottom: 1rem;
        top: 5rem;
        z-index: 0;
    }
}



@media screen and (max-width: 992px) {
    main {
        .user-profile {
            left: 1rem;
        }
    }

}

body.dark-mode {
    main {
        .user-profile-banner {
            .profile-banner-image-color-layer {
                background: $dark-bg-emphasis;
                background: linear-gradient(0deg, $dark-bg-emphasis 0%, $dark-bg-emphasis-65 35%, $dark-bg-emphasis-45 100%);
            }
        }

        .user-profile {
            //
        }
    }
}