header {
    width: 100%;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, .11);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;


    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;



        .logo {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: #FAFAFA;

            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: .5rem;
                object-fit: cover;
            }
        }

        .header-account-box {

            .header-login-btn,
            .header-register-btn {
                border-radius: 10rem;
                padding: .5rem 1rem;
                font-weight: 600;
                transition: 150ms ease-in-out;
            }

            .header-login-btn {
                color: #FAFAFA;
                margin-right: .5rem;
                border: 2px solid transparent;

                &:hover {
                    background-color: #FAFAFA;
                    color: #121212;
                }
            }

            .header-register-btn {
                border: 2px solid #FAFAFA;
                background-color: #FAFAFA;
                color: #121212;

                &:hover {
                    background-color: transparent;
                    color: #FAFAFA;
                }
            }
        }
    }
}