.hero-categories {
    margin-top: 4rem;
    height: 20rem;

    .hero-category-col {
        height: 20rem;
    }

    .hero-category-card {
        height: auto;
        border-radius: 1rem;
        background-color: #121212;
    }
}