.header-navbar{
    ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        li {
            a {
                color: #FAFAFA;
                font-weight: 500;
            }
        }
    }
}