// Font imports
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Font Families
$font-family-primary: "Open Sans";
$font-family-secondary: "Exo";

// Font Sizes
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-light: 300;