nav#navbar {
    overflow: hidden;

    // background-color: $bg-emphasis-85;
    // backdrop-filter: blur(20px);
    // border: $border;
    // border-radius: .5rem;
    width: 3rem;
    height: calc(100vh - 3rem);
    padding: .25rem;
    background-color: #121212;
    border-right: 1px solid rgba(255, 255, 255, .08);

    position: sticky;
    top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

    transition: $t-normal;
    z-index: 1;

    

    ul {
        display: flex;
        flex-direction: column;

        li {
            a {
                display: flex;
                align-items: center;
                color: $fg-default;
                transition: all 300ms;
                width: 2.5rem;
                height: 2.5rem;
                padding: .3rem .8rem;
                overflow: hidden;
                border-radius: .5rem;
                font-size: .875rem;

                span {
                    transition: $t-normal;
                    width: 0;
                    opacity: 0;
                    margin-left: .5rem;
                }

                &.navbar-logo {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-family: $special-font;
                    margin-bottom: .5rem;
                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }

                i {
                    width: 1.25rem;
                    height: 1.25rem;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    color: #24292f;
                }

                &.mobile-user {
                    user-select: none;
                    display: none;

                    img {
                        width: 2rem;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        margin-right: .5rem;
                    }

                    span {
                        color: $fg-default;
                    }

                    i {
                        color: $fg-default;
                        margin-left: .5rem;
                    }

                    &:hover {
                        span {
                            color: #24292f;
                        }

                        i {
                            color: #24292f;
                        }
                    }
                }
            }
        }
    }

    &.mobile-navbar-open {
        width: 18rem;

        ul {
            li {
                a {
                    width: 100%;
                    span {
                        width: auto;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    nav#navbar {
        left: .25rem;
        right: .25rem;
        width: auto;
        height: 5rem;
        padding: 0 1rem;
        top: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 100%;

            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            li {
                a {
                    margin-bottom: 0;

                    &.mobile-user {
                        display: flex;
                    }
                }
            }
        }

        
    }
}

body.dark-mode {
    nav#navbar {
        // background-color: $dark-bg-default-65;
        // border: $dark-border;

        ul {
            li {
                a {
                    color: $dark-fg-default;

                    &:hover {

                        color: #FFF;
                        background: linear-gradient(to left, rgb(195, 20, 50), rgb(36, 11, 54));
                    }
                }
            }
        }

        .mobile-user {
            span {
                color: $dark-fg-default;
            }

            i {
                color: $dark-fg-default;
            }
        }
    }
}