footer {
    background-color: $bg-emphasis;
    padding: 1rem;
    border-radius: .5rem;
    backdrop-filter: blur(20px);
    border: $border;

    .copyright {
        color: $fg-default;
    }
}

body.dark-mode {
    footer {
        background-color: $dark-bg-default-65;
        border: $dark-border;
        box-shadow: none;
    }

    .copyright {
        color: $dark-fg-default;
    }
}