footer {
    background-color: $bg-emphasis;
    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
    padding: 1rem;
    border-radius: .5rem;
    backdrop-filter: blur(20px);

    .copyright {
        color: $fg-default;
    }
}

body.dark-mode {
    footer {
        background-color: $dark-bg-default-65;
        border: $dark-border;
        box-shadow: none;
    }

    .copyright {
        color: $dark-fg-default;
    }
}