header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 1rem;
    // top: 1rem;
    // left: 1rem;
    // right: 1rem;

    margin: 1rem 0;
    
    z-index: 1;
}