    .search-form {
        flex: 1;
        position: relative;

        .search-bar {
            width: 100%;
            height: 2.5rem;
            // background-color: $bg-emphasis-85;
            color: $fg-default;
            padding: .75rem 1rem .75rem 3rem;
            font-size: .875rem;
            border-radius: .5rem;
            backdrop-filter: blur(8px);
            // border: $border;
            transition: $t-normal;
            background-color: transparent;

            // &:focus {
            //     box-shadow: $default-shadow;
            // }

            // &:hover {
            //     box-shadow: $default-shadow;
            // }
        }

        .search-bar-icon {
            position: absolute;
            color: $fg-default;
            left: .875rem;
            top: .5rem;
            width: 1rem;
            height: 1rem;
        }
    }

    .search-area {
        display: none;
        background-color: $bg-emphasis-85;
        border: $border;
        backdrop-filter: blur(4px);
        border-radius: .5rem;
        padding: 1rem;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;

        &.search-area-opened {
            display: flex;
        }
    }


    @media screen and (max-width: 992px) {
        .search-form {
            margin-right: 0;
        }
    }

    body.dark-mode {

        .search-form {
            .search-bar {
                background-color: $dark-bg-default-45;
                // border: $dark-border;
                color: $dark-fg-default;

                &:focus {
                    background-color: $dark-bg-default-25;
                    box-shadow: none;
                    // border-color: rgba(255, 255, 255, .08);

                }

                &:hover {
                    background-color: $dark-bg-default-25;
                    box-shadow: none;
                }
            }
            .search-bar-icon{
                color: $dark-fg-default;
            }
        }

        .search-area {
            background-color: $dark-bg-default;
            border: $dark-border;
            box-shadow: none;
        }
    }