.categories {
    margin-bottom: 1rem;
    border-radius: .5rem;

    .categories-header {
        font-size: 1.5rem;
        color: $fg-default;
        margin-bottom: 1rem;
        font-weight: 300;
    }

    ul {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: .5rem;

        li {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .3rem .6rem;
                border-radius: .3rem;
                background-color: $bg-default;
                color: $fg-default;
                transition: $t-fast;

                &:hover {
                    background-color: $brand;
                }
            }
        }
    }
}


body.dark-mode {
    .categories {
    
        .categories-header {
            color: $dark-fg-default;
        }
    
        ul {
            li {
                a {
                    background-color: $dark-bg-default;
                    color: $dark-fg-default;

                    &:hover {
                        background-color: $brand;
                    }
                }
            }
        }
    }
}