header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    padding: 0 2rem;
    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);

z-index: 50;

    .header-left {
        display: flex;
        align-items: center;

        .header-logo {
            margin-right: 2rem;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        nav#headerNavbar {
            ul {
                display: flex;
                align-items: center;

                li {
                    a {
                        color: #6e7781;
                        position: relative;
                        transition: 150ms ease-in-out;
                        padding: .6rem 1.2rem;
                        border-radius: .375rem;
                        overflow: hidden;

                        &::after {
                            content: ' ';
                            width: 0;
                            height: 2px;
                            border-radius: 1px;
                            background-color: #ff4500;
                            position: absolute;
                            left: 50%;
                            bottom: 1px;
                            transition: 150ms ease-in-out;
                        }

                        &:hover {
                            &::after {
                                width: calc(100% - 2.4rem);
                                left: 1.2rem;
                            }

                            color: #24292f;
                            background-color: rgba(255, 69, 0, .08);
                        }
                    }
                }
            }
        }


    }

    .header-right {
        display: flex;
        align-items: center;

        .search-header {
            position: relative;

            .search-btn {
                background-color: transparent;
                color: #6e7781;
                transition: 150ms ease-in-out;
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: .375rem;
                margin-right: 1rem;

                &:hover {
                    color: #24292f;
                }
            }

            
        }


        .header-user-box {

            .header-user {
                cursor: pointer;
                user-select: none;

                img {
                    width: 2rem;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    margin-right: .5rem;
                }

                span {
                    color: #6e7781;
                }

                i {
                    color: #6e7781;
                    margin-left: .5rem;
                }

                &:hover {
                    span {
                        color: #24292f;
                    }

                    i {
                        color: #24292f;
                    }
                }


            }

            
        }


        .hamburgerMenuBtn {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            margin-right: 1rem;

            .hamburgerSpan {
                width: 2rem;
                height: 0.125rem;
                border-radius: 1px;
                background-color: #6e7781;
                transition: 150ms all ease-in-out;

                &.hamburgerSpanAnimated:first-child {
                    transform: translateY(500%) rotateZ(-45deg);
                }

                &.hamburgerSpanAnimated:last-child {
                    transform: translateY(-500%) rotateZ(45deg);
                }

                &.hamburgerSpanAnimated:nth-child(2) {
                    transform: translateX(50%);
                    opacity: 0;
                }

                &:not(:last-child) {
                    margin-bottom: .5rem;

                }
            }

            &:hover {
                .hamburgerSpan {
                    background-color: #24292f;

                }
            }
        }
    }


}


.search-area {
    display: none;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
    border-radius: .375rem;
    padding: 1rem;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 12rem;
    width: 20rem;
    z-index: 5;

    &.search-area-opened {
        display: block;
    }

    form {
        .search-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                padding: .6rem .8rem;
                border-radius: .375rem;
                outline: none;
                transition: 150ms ease-in-out;
                background-color: #f6f8fa;
            }

            button {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .375rem;
                transition: 150ms ease-in-out;
                color: #FFF;

                background-color: #ff4500;
            }
        }

        select {
            border: none;
            outline: none;
            border-radius: .375rem;
            padding: .3rem;
            margin-bottom: 1rem;
        }


    }
}

.user-nav {



    background-color: #FFF;
    position: fixed;
    top: -50rem;
    right: 1rem;
    width: 15rem;
    display: block;
    padding: 1rem;
    z-index: 99999;
    border-radius: .375rem;
    transition: 150ms ease-in-out;

    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);

    ul {
        li {
            a {
                color: #6e7781;
                border-radius: .375rem;
                padding: .6rem 1.2rem;
                display: flex;
                align-items: center;
                transition: 150ms ease-in-out;

                i {
                    margin-right: 1rem;
                    width: 1.25rem;
                    height: 1.25rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    color: #24292f;
                    background-color: rgba(255, 69, 0, .08);
                }
            }
        }
    }

    &.user-nav-opened {
        top: 5rem;


    }
}

nav#mobileNavbar {
    

    background-color: #ffffff;
    position: fixed;
    left: -22rem;
    top: 4rem;
    bottom: 0;
    width: 22rem;

    display: flex;
    height: calc(100% - 4rem);
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    transition: 150ms ease-in-out;
    z-index: 0;


    ul {
        display: flex;
        flex-direction: column;

        li {
            a {
                display: flex;
                color: #6e7781;
                transition: 150ms ease-in-out;
                width: 100%;
                padding: .6rem 1.2rem;
                border-radius: .375rem;
                overflow: hidden;
                margin-bottom: 1rem;

                &:hover {

                    color: #24292f;
                    background-color: rgba(255, 69, 0, .08);
                }
            }
        }
    }

    .mobile-user {
        cursor: pointer;
        user-select: none;
        img {
            width: 2rem;
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin-right: .5rem;
        }

        span {
            color: #6e7781;
        }

        i {
            color: #6e7781;
            margin-left: .5rem;
        }

        &:hover {
            span {
                color: #24292f;
            }

            i {
                color: #24292f;
            }
        }
    }

    &.mobile-navbar-open {
        left: 0;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 0 0 0 1rem;
    }

    #hamburgerMenuBtn {
        display: flex;
    }

    #headerNavbar {
        display: none;
    }

    #headerUser {
        display: none;
    }

    .search-area {
        right: 1rem;
    }

    #userNav {
        left: 1rem;
        top: -50rem;

        &.user-nav-opened {
            top: auto;
            bottom: 6rem;
        }
    }
}


body.dark-mode {
    header {
        background-color: #0d1117;
        box-shadow: none;
    
        .header-left {
            nav#headerNavbar {
                ul {
                    li {
                        a {
                            color: #c9d1d9;
    
                            &::after {
                                background-color: #FFF;
                            }
    
                            &:hover {
                                color: #FFF;
                                background-color: rgba(255, 69, 0, .8);
                            }
                        }
                    }
                }
            }
        }
    
        .header-right {
            .search-header {
                .search-btn {
                    color: #c9d1d9;
    
                    &:hover {
                        color: #FFF;
                    }
                }
            }
    
    
            .header-user-box {
                .header-user {
                    span {
                        color: #c9d1d9;
                    }
    
                    i {
                        color: #c9d1d9;
                    }
    
                    &:hover {
                        span {
                            color: #FFF;
                        }
    
                        i {
                            color: #FFF;
                        }
                    }
                }
            }
    
    
            .hamburgerMenuBtn {
                .hamburgerSpan {
                    background-color: #c9d1d9;
                }
    
                &:hover {
                    .hamburgerSpan {
                        background-color: #FFF;
    
                    }
                }
            }
        }
    }
    
    
    .search-area {
        background-color: #0d1117;
        box-shadow: none;
    
        form {
            select {
                background-color: #161b22;
                color: #FFF;
            }
            .search-box {
                input {
                    background-color: #161b22;
                    color: #FFF;

                    &::placeholder {
                        color: #FFF;
                    }
                }
    
                button {
                    color: #c9d1d9;
                    background-color: #ff4500;
                }

                
            }
        }
    }
    
    .user-nav {
        background-color: #0d1117;
        box-shadow: none;
    
        ul {
            li {
                a {
                    color: #c9d1d9;
    
                    &:hover {
                        color: #FFF;
                        background-color: rgba(255, 69, 0, .8);
                    }
                }
            }
        }
    }
    
    nav#mobileNavbar {
        background-color: #0d1117;
    
        ul {
            li {
                a {
                    color: #c9d1d9;
    
                    &:hover {
    
                        color: #FFF;
                        background-color: rgba(255, 69, 0, .8);
                    }
                }
            }
        }
    
        .mobile-user {
    
            span {
                color: #c9d1d9;
            }
    
            i {
                color: #c9d1d9;
            }
    
            &:hover {
                span {
                    color: #FFF;
                }
    
                i {
                    color: #FFF;
                }
            }
        }
    }
}