header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    top: 1rem;
    left: 1rem;
    right: 1rem;

    z-index: 50;

    .header-left {
        display: flex;
        align-items: center;

        .hamburgerMenuBtn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            margin-right: 1rem;
            transition: all 150ms ease-in-out;

            background-color: rgba(1, 4, 9, .38);
            border: 1px solid rgba(255, 255, 255, .11);
            border-radius: .5rem;

            .hamburgerSpan {
                width: .75rem;
                height: 0.125rem;
                border-radius: 1px;
                background-color: #6e7781;
                transition: 150ms all ease-in-out;

                &.hamburgerSpanAnimated:first-child {
                    transform: translateY(250%) rotateZ(-45deg);
                }

                &.hamburgerSpanAnimated:last-child {
                    transform: translateY(-250%) rotateZ(45deg);
                }

                &.hamburgerSpanAnimated:nth-child(2) {
                    transform: translateX(50%);
                    opacity: 0;
                }

                &:not(:last-child) {
                    margin-bottom: .1875rem;

                }

                &:nth-child(odd) {
                    width: 1.25rem;
                }

                &:nth-child(even) {
                    margin-right: .5rem;
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, .11);

                .hamburgerSpan {
                    background-color: #24292f;

                }
            }
        }

        .header-logo {

            img {
                width: 2rem;
                height: 2rem;
            }
        }   
    }

    .header-right {
        display: flex;
        align-items: center;
        .header-user-box {

            .header-user {
                background-color: rgba(1, 4, 9, .38);
                padding: .75rem 1rem;
                border-radius: .5rem;
                border: 1px solid rgba(255, 255, 255, .11);
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
                transition: 150ms ease-in-out;
                backdrop-filter: blur(4px);
                height: 3rem;

                img {
                    width: 1.5rem;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    margin-right: 1rem;
                }

                span {
                    color: #6e7781;
                    font-size: .875rem;
                transition: 150ms ease-in-out;

                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1rem;
                    height: 1rem;
                    color: #6e7781;
                    margin-left: 1rem;
                    font-weight: 600;
                transition: 150ms ease-in-out;

                }

                &:hover {
                    background-color: rgba(255, 255, 255, .11);
                    span {
                        color: #24292f;
                    }

                    i {
                        color: #24292f;
                    }
                }


            }


        }


        
    }


}




.user-nav {
    
    border: 1px solid rgba(255, 255, 255, .11);
    backdrop-filter: blur(4px);
    overflow: hidden;
    background-color: #FFF;
    position: fixed;
    top: -50rem;
    right: 1rem;
    width: 15rem;
    display: block;
    z-index: 99999;
    border-radius: .5rem;
    transition: 150ms ease-in-out;

    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);

    ul {
        li {
            a.sign-out-btn{
                &:hover {
                    background-color: rgba(212, 28, 28, .25);
                }
            }

            a {
                color: #6e7781;
                padding: 1rem;
                display: flex;
                align-items: center;
                transition: 150ms ease-in-out;
                font-size: .875rem;

                i {
                    margin-right: 1rem;
                    width: 1rem;
                    height: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    color: #24292f;
                    background-color: rgba(255, 69, 0, .08);
                }
            }
        }
    }

    &.user-nav-opened {
        top: 5rem;


    }

    .user-nav-separator{
        height: 1px;
        margin: 0;
        color: rgba(255, 255, 255, .45);
    }
}

nav#mobileNavbar {
    overflow: hidden;

    background-color: #ffffff;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, .11);
    border-radius: .5rem;

    position: fixed;
    left: 1rem;
    top: 5rem;
    bottom: 1rem;
    width: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 150ms ease-in-out;


    ul {
        display: flex;
        flex-direction: column;

        li {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #6e7781;
                transition: 150ms ease-in-out;
                width: 3rem;
                height: 3rem;
                overflow: hidden;

                &:hover {

                    color: #24292f;
                    background-color: rgba(255, 69, 0, .08);
                }
            }
        }
    }

    .mobile-user {
        cursor: pointer;
        user-select: none;
        display: none;

        img {
            width: 2rem;
            height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin-right: .5rem;
        }

        span {
            color: #6e7781;
        }

        i {
            color: #6e7781;
            margin-left: .5rem;
        }

        &:hover {
            span {
                color: #24292f;
            }

            i {
                color: #24292f;
            }
        }
    }

    &.mobile-navbar-open {
        width: 22rem;
    }
}

@media screen and (max-width: 992px) {

    #headerNavbar {
        display: none;
    }

    #headerUser {
        display: none;
    }

    .search-area {
        right: 1rem;
    }

    #userNav {
        left: 1rem;
        top: auto;
        left: 1rem;
        bottom: -200vh;
        width: calc(100vw - 2rem);

        &.user-nav-opened {
            top: auto;
            bottom: 5rem;
        }
    }

    header {
        .header-left {
            .hamburgerMenuBtn {
                display: none;
            }

            .header-logo {
                margin-left: .5rem;
                margin-right: .5rem;
            }
        }
    }

    nav#mobileNavbar {
        left: 1rem;
        right: 1rem;
        width: calc(100vw - 2rem);
        height: 3rem;
        top: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ul {
            flex-direction: row;
            align-items: center;
            height: 100%;
            li {
                a {
                margin-bottom: 0;

                }
            }
        }

        .mobile-user {
            display: flex;
        }
    }
}


body.dark-mode {
    header {
        box-shadow: none;

        .header-left {

            .hamburgerMenuBtn {
                .hamburgerSpan {
                    background-color: #c9d1d9;
                }

                &:hover {
                    .hamburgerSpan {
                        background-color: #FFF;

                    }
                }
            }

            nav#headerNavbar {
                ul {
                    li {
                        a {
                            color: #c9d1d9;

                            &::after {
                                background-color: #FFF;
                            }

                            &:hover {
                                color: #FFF;
                                background-color: rgba(255, 69, 0, .8);
                            }
                        }
                    }
                }
            }
        }

        .header-right {
            .search-header {
                .search-btn {
                    color: #c9d1d9;

                    &:hover {
                        color: #FFF;
                    }
                }
            }


            .header-user-box {
                .header-user {
                    span {
                        color: #c9d1d9;
                    }

                    i {
                        color: #c9d1d9;
                    }

                    &:hover {
                        span {
                            color: #FFF;
                        }

                        i {
                            color: #FFF;
                        }
                    }
                }
            }


            
        }
    }


    

    .user-nav {
        background-color: rgba(1, 4, 9, .38);
        box-shadow: none;

        ul {
            li {
                a.sign-out-btn{
                    &:hover {
                        background-color: rgba(212, 28, 28, .25);
                    }
                }
                a {
                    color: #c9d1d9;

                    &:hover {
                        color: #FFF;
                        background-color: rgba(255, 255, 255, .11);
                    }
                }
            }
        }
    }

    nav#mobileNavbar {
        background-color: rgba(1, 4, 9, .38);
        z-index: 1;

        ul {
            li {
                a {
                    color: #c9d1d9;

                    &:hover {

                        color: #FFF;
                        background-color: rgba(255, 255, 255, .11);
                    }
                }
            }
        }

        .mobile-user {

            span {
                color: #c9d1d9;
            }

            i {
                color: #c9d1d9;
            }

            &:hover {
                span {
                    color: #FFF;
                }

                i {
                    color: #FFF;
                }
            }
        }
    }
}