.sidebar {
    top: 5rem;
}

.sidebar-container {
    height: calc(100vh - 10rem);
    overflow-y: scroll;
    scrollbar-gutter: stable;

    margin-bottom: 1rem;
}

body.dark-mode {
    .sidebar {
        
    }
}