.user-card {
    background-color: #FFF;
    padding: 1rem;
    border-radius: .375rem;
    box-shadow: 0 3px 6px rgba(140,149,159,0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .user-card-left {
        a {
            display: flex;
            align-items: center;
            color: #6e7781;
            transition: 150ms ease-in-out;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 1rem;
            }

            &:hover {
                color: #24292f;
            }
        }
    }

    .user-card-right {
        display: flex;
        align-items: center;

        .count-title {
            margin-right: .5rem;
            color: #6e7781;
        }

        .count {
            color: #24292f;
            font-weight: 500;
        }

        .user-card-topic-count {
            display: flex;
            align-items: center;
            margin-right: 1rem;
        }
        .user-card-follower-count {
            display: flex;
            align-items: center;
        }
    }
}