*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

input,
textarea,
button {
    border: none;
    outline: none;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $bg-default;
    &.dark-mode {
        background-color: $dark-bg-emphasis;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 32px;
    }
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}