@import "../../vendors/bootstrap-5.0.2-dist/css/bootstrap.min.css";
/*light theme*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 50;
}
header .header-left {
  display: flex;
  align-items: center;
}
header .header-left .hamburgerMenuBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 150ms ease-in-out;
  background-color: rgba(1, 4, 9, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 0.5rem;
}
header .header-left .hamburgerMenuBtn .hamburgerSpan {
  width: 0.75rem;
  height: 0.125rem;
  border-radius: 1px;
  background-color: #6e7781;
  transition: 150ms all ease-in-out;
}
header .header-left .hamburgerMenuBtn .hamburgerSpan.hamburgerSpanAnimated:first-child {
  transform: translateY(250%) rotateZ(-45deg);
}
header .header-left .hamburgerMenuBtn .hamburgerSpan.hamburgerSpanAnimated:last-child {
  transform: translateY(-250%) rotateZ(45deg);
}
header .header-left .hamburgerMenuBtn .hamburgerSpan.hamburgerSpanAnimated:nth-child(2) {
  transform: translateX(50%);
  opacity: 0;
}
header .header-left .hamburgerMenuBtn .hamburgerSpan:not(:last-child) {
  margin-bottom: 0.1875rem;
}
header .header-left .hamburgerMenuBtn .hamburgerSpan:nth-child(odd) {
  width: 1.25rem;
}
header .header-left .hamburgerMenuBtn .hamburgerSpan:nth-child(even) {
  margin-right: 0.5rem;
}
header .header-left .hamburgerMenuBtn:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
header .header-left .hamburgerMenuBtn:hover .hamburgerSpan {
  background-color: #24292f;
}
header .header-left .header-logo img {
  width: 2rem;
  height: 2rem;
}
header .header-right {
  display: flex;
  align-items: center;
}
header .header-right .header-user-box .header-user {
  background-color: rgba(1, 4, 9, 0.38);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.11);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  transition: 150ms ease-in-out;
  backdrop-filter: blur(4px);
  height: 3rem;
}
header .header-right .header-user-box .header-user img {
  width: 1.5rem;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 1rem;
}
header .header-right .header-user-box .header-user span {
  color: #6e7781;
  font-size: 0.875rem;
  transition: 150ms ease-in-out;
}
header .header-right .header-user-box .header-user i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  color: #6e7781;
  margin-left: 1rem;
  font-weight: 600;
  transition: 150ms ease-in-out;
}
header .header-right .header-user-box .header-user:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
header .header-right .header-user-box .header-user:hover span {
  color: #24292f;
}
header .header-right .header-user-box .header-user:hover i {
  color: #24292f;
}

.user-nav {
  border: 1px solid rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(4px);
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  top: -50rem;
  right: 1rem;
  width: 15rem;
  display: block;
  z-index: 99999;
  border-radius: 0.5rem;
  transition: 150ms ease-in-out;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
}
.user-nav ul li a.sign-out-btn:hover {
  background-color: rgba(212, 28, 28, 0.25);
}
.user-nav ul li a {
  color: #6e7781;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: 150ms ease-in-out;
  font-size: 0.875rem;
}
.user-nav ul li a i {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav ul li a:hover {
  color: #24292f;
  background-color: rgba(255, 69, 0, 0.08);
}
.user-nav.user-nav-opened {
  top: 5rem;
}
.user-nav .user-nav-separator {
  height: 1px;
  margin: 0;
  color: rgba(255, 255, 255, 0.45);
}

nav#mobileNavbar {
  overflow: hidden;
  background-color: #ffffff;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 0.5rem;
  position: fixed;
  left: 1rem;
  top: 5rem;
  bottom: 1rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out;
}
nav#mobileNavbar ul {
  display: flex;
  flex-direction: column;
}
nav#mobileNavbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7781;
  transition: 150ms ease-in-out;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
nav#mobileNavbar ul li a:hover {
  color: #24292f;
  background-color: rgba(255, 69, 0, 0.08);
}
nav#mobileNavbar .mobile-user {
  cursor: pointer;
  user-select: none;
  display: none;
}
nav#mobileNavbar .mobile-user img {
  width: 2rem;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 0.5rem;
}
nav#mobileNavbar .mobile-user span {
  color: #6e7781;
}
nav#mobileNavbar .mobile-user i {
  color: #6e7781;
  margin-left: 0.5rem;
}
nav#mobileNavbar .mobile-user:hover span {
  color: #24292f;
}
nav#mobileNavbar .mobile-user:hover i {
  color: #24292f;
}
nav#mobileNavbar.mobile-navbar-open {
  width: 22rem;
}

@media screen and (max-width: 992px) {
  #headerNavbar {
    display: none;
  }
  #headerUser {
    display: none;
  }
  .search-area {
    right: 1rem;
  }
  #userNav {
    left: 1rem;
    top: auto;
    left: 1rem;
    bottom: -200vh;
    width: calc(100vw - 2rem);
  }
  #userNav.user-nav-opened {
    top: auto;
    bottom: 5rem;
  }
  header .header-left .hamburgerMenuBtn {
    display: none;
  }
  header .header-left .header-logo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  nav#mobileNavbar {
    left: 1rem;
    right: 1rem;
    width: calc(100vw - 2rem);
    height: 3rem;
    top: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav#mobileNavbar ul {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  nav#mobileNavbar ul li a {
    margin-bottom: 0;
  }
  nav#mobileNavbar .mobile-user {
    display: flex;
  }
}
body.dark-mode header {
  box-shadow: none;
}
body.dark-mode header .header-left .hamburgerMenuBtn .hamburgerSpan {
  background-color: #c9d1d9;
}
body.dark-mode header .header-left .hamburgerMenuBtn:hover .hamburgerSpan {
  background-color: #FFF;
}
body.dark-mode header .header-left nav#headerNavbar ul li a {
  color: #c9d1d9;
}
body.dark-mode header .header-left nav#headerNavbar ul li a::after {
  background-color: #FFF;
}
body.dark-mode header .header-left nav#headerNavbar ul li a:hover {
  color: #FFF;
  background-color: rgba(255, 69, 0, 0.8);
}
body.dark-mode header .header-right .search-header .search-btn {
  color: #c9d1d9;
}
body.dark-mode header .header-right .search-header .search-btn:hover {
  color: #FFF;
}
body.dark-mode header .header-right .header-user-box .header-user span {
  color: #c9d1d9;
}
body.dark-mode header .header-right .header-user-box .header-user i {
  color: #c9d1d9;
}
body.dark-mode header .header-right .header-user-box .header-user:hover span {
  color: #FFF;
}
body.dark-mode header .header-right .header-user-box .header-user:hover i {
  color: #FFF;
}
body.dark-mode .user-nav {
  background-color: rgba(1, 4, 9, 0.38);
  box-shadow: none;
}
body.dark-mode .user-nav ul li a.sign-out-btn:hover {
  background-color: rgba(212, 28, 28, 0.25);
}
body.dark-mode .user-nav ul li a {
  color: #c9d1d9;
}
body.dark-mode .user-nav ul li a:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.11);
}
body.dark-mode nav#mobileNavbar {
  background-color: rgba(1, 4, 9, 0.38);
  z-index: 1;
}
body.dark-mode nav#mobileNavbar ul li a {
  color: #c9d1d9;
}
body.dark-mode nav#mobileNavbar ul li a:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.11);
}
body.dark-mode nav#mobileNavbar .mobile-user span {
  color: #c9d1d9;
}
body.dark-mode nav#mobileNavbar .mobile-user i {
  color: #c9d1d9;
}
body.dark-mode nav#mobileNavbar .mobile-user:hover span {
  color: #FFF;
}
body.dark-mode nav#mobileNavbar .mobile-user:hover i {
  color: #FFF;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5.5rem;
  height: 3rem;
  margin-right: 1rem;
}
.switch i {
  color: #FFF;
  cursor: pointer;
}
.switch i.fa-moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #010409;
}
.switch i.fa-sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #FFF;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 4, 9, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(4px);
  transition: 150ms;
}
.switch .slider.round {
  border-radius: 0.5rem;
}
.switch .slider.round:before {
  border-radius: 0.375rem;
  background-color: #010409;
}
.switch .slider::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.45rem;
  bottom: 0.45rem;
  background-color: #FFF;
  transition: 150ms;
}
.switch .slider:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
.switch input:checked + .slider:before {
  transform: translateX(2.5rem);
}

body.dark-mode .fa-sun {
  color: #FFF;
}
body.dark-mode .switch .slider::before {
  background-color: #f6f8fa;
}

@media screen and (max-width: 992px) {
  .switch {
    display: none;
  }
}
.header-center {
  flex: 1;
  margin: 0 1rem;
  position: relative;
}
.header-center .search-form {
  position: relative;
}
.header-center .search-form .search-bar {
  width: 100%;
  height: 3rem;
  background-color: rgba(1, 4, 9, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.11);
  color: #FFF;
  padding: 0.75rem 1rem 0.75rem 3rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
  transition: 150ms ease-in-out;
}
.header-center .search-form .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.11);
}
.header-center .search-form .search-bar:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
.header-center .search-form .search-bar-icon {
  position: absolute;
  color: #FFF;
  left: 1rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
}
.header-center .search-area {
  display: none;
  background-color: rgba(1, 4, 9, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(4px);
  border-radius: 0.5rem;
  padding: 1rem;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header-center .search-area.search-area-opened {
  display: block;
}
.header-center .search-area form .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-center .search-area form .search-box input {
  padding: 0.6rem 0.8rem;
  border-radius: 0.375rem;
  outline: none;
  transition: 150ms ease-in-out;
  background-color: #f6f8fa;
}
.header-center .search-area form .search-box button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  transition: 150ms ease-in-out;
  color: #FFF;
  background-color: #ff4500;
}
.header-center .search-area form select {
  border: none;
  outline: none;
  border-radius: 0.375rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}
.header-center .topic {
  padding: 2rem;
}
.header-center .topic .topic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.header-center .topic .topic-header .topic-author {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
.header-center .topic .topic-header .topic-author .author-image {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.header-center .topic .topic-header .topic-author .author-level {
  padding: 0.1rem 0.4rem;
  color: #ffffff;
  background-color: #ff4500;
  margin-left: 1rem;
  border-radius: 0.375rem;
}
.header-center .topic .topic-header .topic-author:hover {
  color: #24292f;
}
.header-center .topic .topic-header .topic-create-date {
  color: #6e7781;
}
.header-center .topic .topic-body {
  margin-bottom: 1rem;
}
.header-center .topic .topic-body a {
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 1rem;
  color: #24292f;
}
.header-center .topic .topic-body p {
  color: #6e7781;
  cursor: default;
  margin-bottom: 1rem;
}
.header-center .topic .topic-body ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-center .topic .topic-body ul li a {
  color: #FFF;
  background-color: #24292f;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
}
.header-center .topic .topic-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-center .topic .topic-footer .topic-footer-left {
  display: flex;
  align-items: center;
}
.header-center .topic .topic-footer .topic-footer-left .topic-view-count {
  padding: 0.3rem 0.6rem;
  border-radius: 0.375rem;
  margin-right: 1rem;
  color: #6e7781;
}
.header-center .topic .topic-footer .topic-footer-left .topic-view-count i {
  margin-right: 0.3rem;
}
.header-center .topic .topic-footer .topic-footer-left .topic-answer-count {
  border-radius: 0.375rem;
  padding: 0.3rem 0.6rem;
  color: #6e7781;
}
.header-center .topic .topic-footer .topic-footer-left .topic-answer-count i {
  margin-right: 0.3rem;
}
.header-center .topic .topic-footer .topic-footer-right a {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
.header-center .topic .topic-footer .topic-footer-right a:hover {
  color: #24292f;
}

@media screen and (max-width: 992px) {
  .header-center {
    margin-right: 0;
  }
}
body.dark-mode .search-area {
  background-color: rgba(1, 4, 9, 0.38);
  box-shadow: none;
}
body.dark-mode .search-area form select {
  background-color: #161b22;
  color: #FFF;
}
body.dark-mode .search-area form .search-box input {
  background-color: #161b22;
  color: #FFF;
}
body.dark-mode .search-area form .search-box input::placeholder {
  color: #FFF;
}
body.dark-mode .search-area form .search-box button {
  color: #c9d1d9;
  background-color: #ff4500;
}

main .main-flow {
  margin-bottom: 2rem;
}
main .main-flow .topic {
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  padding: 2rem;
}
main .main-flow .topic .topic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main .main-flow .topic .topic-header .topic-author {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
main .main-flow .topic .topic-header .topic-author .author-image {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
}
main .main-flow .topic .topic-header .topic-author .author-level {
  padding: 0.1rem 0.4rem;
  color: #ffffff;
  background-color: #ff4500;
  margin-left: 1rem;
  border-radius: 0.375rem;
}
main .main-flow .topic .topic-header .topic-author:hover {
  color: #24292f;
}
main .main-flow .topic .topic-header .topic-create-date {
  color: #6e7781;
}
main .main-flow .topic .topic-body {
  margin-bottom: 1rem;
}
main .main-flow .topic .topic-body a {
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 1rem;
  color: #24292f;
}
main .main-flow .topic .topic-body p {
  color: #6e7781;
  cursor: default;
  margin-bottom: 1rem;
}
main .main-flow .topic .topic-body ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
main .main-flow .topic .topic-body ul li a {
  color: #FFF;
  background-color: #24292f;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
}
main .main-flow .topic .topic-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-flow .topic .topic-footer .topic-footer-left {
  display: flex;
  align-items: center;
}
main .main-flow .topic .topic-footer .topic-footer-left .topic-view-count {
  padding: 0.3rem 0.6rem;
  border-radius: 0.375rem;
  margin-right: 1rem;
  color: #6e7781;
}
main .main-flow .topic .topic-footer .topic-footer-left .topic-view-count i {
  margin-right: 0.3rem;
}
main .main-flow .topic .topic-footer .topic-footer-left .topic-answer-count {
  border-radius: 0.375rem;
  padding: 0.3rem 0.6rem;
  color: #6e7781;
}
main .main-flow .topic .topic-footer .topic-footer-left .topic-answer-count i {
  margin-right: 0.3rem;
}
main .main-flow .topic .topic-footer .topic-footer-right a {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
main .main-flow .topic .topic-footer .topic-footer-right a:hover {
  color: #24292f;
}
main .sidebar {
  top: 5rem;
}
main .sidebar .sidebar-item {
  margin-bottom: 2rem;
}
main .sidebar .sidebar-item .sidebar-item-header {
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
}
main .sidebar .sidebar-item .sidebar-item-header i {
  margin-right: 0.6rem;
}
main .sidebar .sidebar-item .sidebar-item-header a {
  color: #6e7781;
  transition: 150ms ease-in-out;
  font-size: 1.25rem;
}
main .sidebar .sidebar-item .sidebar-item-header a:hover {
  color: #24292f;
}
main .sidebar .sidebar-item .sidebar-item-body {
  padding: 0 1.5rem;
}
main .sidebar .sidebar-item .sidebar-item-body .popular-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main .sidebar .sidebar-item .sidebar-item-body .popular-member .sidebar-member img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
main .sidebar .sidebar-item .sidebar-item-body .popular-member .sidebar-member a {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
main .sidebar .sidebar-item .sidebar-item-body .popular-member .sidebar-member a:hover {
  color: #24292f;
}
main .sidebar .sidebar-item .sidebar-item-body .popular-member .member-level {
  padding: 0.6rem 1.2rem;
  background-color: #ff4500;
  color: #FFF;
  border-radius: 0.375rem;
}
main .sidebar .sidebar-item .sidebar-item-body .popular-member .member-level:hover {
  color: #FFF;
}
main .sidebar .sidebar-item .top-communities .sidebar-community {
  border-radius: 0.375rem;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  transition: 150ms ease-in-out;
  margin-bottom: 1rem;
}
main .sidebar .sidebar-item .top-communities .sidebar-community a {
  padding: 1rem;
  background-color: rgba(255, 69, 0, 0.75);
  color: #FFF;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sidebar .sidebar-item .top-communities .sidebar-community a img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
main .sidebar .sidebar-item .top-communities .sidebar-community:hover {
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  background-size: 175%;
}

footer {
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  padding: 2rem;
}
footer p {
  margin-bottom: 1rem;
}
footer ul li a {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
footer ul li a:hover {
  color: #24292f;
}
footer ul li a i {
  color: #ff4500;
}
footer .copyright {
  padding-top: 1rem;
  margin-bottom: 0;
}

.ask-a-question-main {
  background-color: #ff4500;
  padding: 0.6rem 1.2rem;
  color: #FFFFFF;
  border-radius: 0.375rem;
}
.ask-a-question-main:hover {
  color: #FFFFFF;
}

.load-more {
  color: #6e7781;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  transition: 150ms ease-in-out;
}
.load-more:hover {
  color: #24292f;
}

@media screen and (max-width: 500px) {
  .topic-header {
    flex-direction: column;
  }
  .topic-header .topic-author {
    margin-bottom: 1rem;
  }
}
body.dark-mode main .main-flow .topic {
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: none;
}
body.dark-mode main .main-flow .topic:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
body.dark-mode main .main-flow .topic .topic-header .topic-author {
  color: #c9d1d9;
}
body.dark-mode main .main-flow .topic .topic-header .topic-author .author-level {
  color: #ffffff;
  background-color: #ff4500;
}
body.dark-mode main .main-flow .topic .topic-header .topic-author:hover {
  color: #FFF;
}
body.dark-mode main .main-flow .topic .topic-header .topic-create-date {
  color: #c9d1d9;
}
body.dark-mode main .main-flow .topic .topic-body a {
  color: #FFF;
}
body.dark-mode main .main-flow .topic .topic-body p {
  color: #c9d1d9;
}
body.dark-mode main .main-flow .topic .topic-body ul li a {
  color: #FFF;
  background-color: #ff4500;
}
body.dark-mode main .main-flow .topic .topic-footer .topic-footer-left .topic-view-count {
  color: #c9d1d9;
}
body.dark-mode main .main-flow .topic .topic-footer .topic-footer-left .topic-answer-count {
  color: #c9d1d9;
}
body.dark-mode main .main-flow .topic .topic-footer .topic-footer-right a {
  color: #c9d1d9;
}
body.dark-mode main .main-flow .topic .topic-footer .topic-footer-right a:hover {
  color: #FFF;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-header {
  background-color: #161b22;
  box-shadow: none;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-header a {
  color: #c9d1d9;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-header a:hover {
  color: #FFF;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-body .popular-member .sidebar-member a {
  color: #c9d1d9;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-body .popular-member .sidebar-member a:hover {
  color: #FFF;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-body .popular-member .member-level {
  background-color: #ff4500;
  color: #FFF;
}
body.dark-mode main .sidebar .sidebar-item .sidebar-item-body .popular-member .member-level:hover {
  color: #FFF;
}
body.dark-mode main .sidebar .sidebar-item .top-communities .sidebar-community a {
  background-color: rgba(255, 69, 0, 0.75);
}
body.dark-mode main .sidebar .sidebar-item .top-communities .sidebar-community:hover {
  box-shadow: none;
}
body.dark-mode footer {
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: none;
}
body.dark-mode footer p {
  color: #c9d1d9;
}
body.dark-mode footer ul li a {
  color: #c9d1d9;
}
body.dark-mode footer ul li a:hover {
  color: #FFF;
}
body.dark-mode footer ul li a i {
  color: #ff4500;
}
body.dark-mode .ask-a-question-main {
  background-color: #ff4500;
  color: #FFFFFF;
}
body.dark-mode .ask-a-question-main:hover {
  color: #FFFFFF;
}
body.dark-mode .load-more {
  color: #c9d1d9;
}
body.dark-mode .load-more:hover {
  color: #FFF;
}

.topic-content {
  background-color: #FFF;
  border-radius: 0.375rem;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  padding: 2rem;
  margin-bottom: 2rem;
}
.topic-content .topic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.topic-content .topic-header .topic-author a {
  font-size: 1.2rem;
  color: #6e7781;
  transition: 150ms ease-in-out;
}
.topic-content .topic-header .topic-author a img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.topic-content .topic-header .topic-author a:hover {
  color: #24292f;
}
.topic-content .topic-header .topic-author .author-level {
  background-color: #ff4500;
  padding: 0.3rem 0.6rem;
  border-radius: 0.375rem;
  margin-left: 1rem;
  color: #FFF;
}
.topic-content .topic-header .topic-create-date {
  color: #6e7781;
}
.topic-content .topic-body {
  margin-bottom: 1rem;
}
.topic-content .topic-body .topic-title {
  margin-bottom: 2rem;
}
.topic-content .topic-body .topic-title a {
  color: #24292f;
  font-size: 1.5rem;
  font-weight: 500;
}
.topic-content .topic-body .topic-context {
  margin-bottom: 2rem;
}
.topic-content .topic-body .topic-context p {
  color: #6e7781;
}
.topic-content .topic-body .topic-categories {
  margin-bottom: 2rem;
}
.topic-content .topic-body .topic-categories ul {
  display: flex;
  flex-wrap: wrap;
}
.topic-content .topic-body .topic-categories ul li {
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.topic-content .topic-body .topic-categories ul li a {
  color: #FFF;
  background-color: #000;
  border-radius: 0.375rem;
  padding: 0.6rem 1.2rem;
}
.topic-content .topic-statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topic-content .topic-statistics .statistics-left {
  display: flex;
  align-items: center;
}
.topic-content .topic-statistics .statistics-left p {
  margin-right: 2rem;
  color: #6e7781;
}
.topic-content .topic-statistics .statistics-left p i {
  margin-right: 0.3rem;
}
.topic-content .topic-statistics .statistics-right a {
  color: #6e7781;
  transition: 150ms ease-in-out;
}
.topic-content .topic-statistics .statistics-right a:hover {
  color: #24292f;
}

.topic-answers {
  margin-bottom: 2rem;
}
.topic-answers h4 {
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: #6e7781;
}
.topic-answers .topic-answer {
  padding: 2rem;
  background-color: #FFF;
  border-radius: 0.375rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
}
.topic-answers .topic-answer .vote-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topic-answers .topic-answer .vote-actions a {
  font-size: 2.5rem;
  color: #6e7781;
  transition: 150ms ease-in-out;
}
.topic-answers .topic-answer .vote-actions a:hover {
  color: #24292f;
}
.topic-answers .topic-answer .vote-actions .votecount {
  font-size: 1.5rem;
  font-weight: 500;
  color: #6e7781;
}
.topic-answers .topic-answer .selected-answer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.topic-answers .topic-answer .selected-answer i {
  font-size: 2rem;
  color: #2da44e;
}
.topic-answers .topic-answer .answer-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.topic-answers .topic-answer .answer-header .answer-author a {
  font-size: 1.25rem;
  color: #6e7781;
  transition: 150ms ease-in-out;
}
.topic-answers .topic-answer .answer-header .answer-author a img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.topic-answers .topic-answer .answer-header .answer-author a:hover {
  color: #24292f;
}
.topic-answers .topic-answer .answer-header .answer-author .author-level {
  padding: 0.3rem 0.6rem;
  color: #FFF;
  background-color: #ff4500;
  border-radius: 0.375rem;
  margin-left: 1rem;
}
.topic-answers .topic-answer .answer-header .answer-date {
  color: #6e7781;
}
.topic-answers .topic-answer .answer-body {
  margin-left: 3.8rem;
  margin-bottom: 1rem;
}
.topic-answers .topic-answer .answer-body .answer-context {
  color: #6e7781;
}
.topic-answers .topic-answer .answer-actions {
  margin-left: 3.8rem;
  display: flex;
  flex-wrap: wrap;
}
.topic-answers .topic-answer .answer-actions a {
  color: #6e7781;
  transition: 150ms ease-in-out;
  cursor: pointer;
}
.topic-answers .topic-answer .answer-actions a:hover {
  color: #24292f;
}
.topic-answers .topic-answer .answer-actions a:not(:last-child) {
  margin-right: 1rem;
}
.topic-answers .topic-answer .answer-comments {
  margin-top: 2rem;
  border-radius: 0.375rem;
  background-color: #f6f8fa;
  padding: 2rem;
}
.topic-answers .topic-answer .answer-comments h6 {
  color: #6e7781;
  margin-bottom: 1rem;
}
.topic-answers .topic-answer .answer-comments .comment {
  display: flex;
  border-top: 1px solid #e8ebee;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.topic-answers .topic-answer .answer-comments .comment .comment-author-image img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.topic-answers .topic-answer .answer-comments .comment .comment-header {
  display: flex;
}
.topic-answers .topic-answer .answer-comments .comment .comment-header .comment-author a {
  color: #24292f;
  font-weight: 500;
  margin-right: 1rem;
  cursor: pointer;
}
.topic-answers .topic-answer .answer-comments .comment .comment-header .comment-date {
  color: #6e7781;
}
.topic-answers .topic-answer .answer-comments .comment .comment-body {
  color: #6e7781;
}

.add-answer {
  background-color: #FFF;
  border-radius: 0.375rem;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  padding: 2rem;
  margin-bottom: 2rem;
}
.add-answer form button {
  padding: 0.6rem;
  width: 100%;
  background-color: #ff4500;
  border-radius: 0.375rem;
  color: #FFF;
  font-weight: 500;
  font-size: 1.25rem;
}

.add-comment-box {
  position: fixed;
  top: 50%;
  left: 10rem;
  right: 20rem;
  width: calc(100vw - 20rem);
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  border-radius: 0.375rem;
  padding: 1rem 2rem;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.add-comment-box.comment-box-opened {
  display: flex;
}
.add-comment-box input {
  font-size: 1.25rem;
  width: 100%;
}
.add-comment-box a {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4500;
  border-radius: 0.375rem;
  color: #FFF;
  height: 100%;
  margin-left: 1rem;
  cursor: pointer;
}
.add-comment-box a#closeCommentBox {
  background-color: transparent;
  color: #cf222e;
  padding: 0;
  margin-left: 2rem;
}

@media screen and (max-width: 500px) {
  .answer-header {
    flex-direction: column;
  }
  .answer-header .answer-author {
    margin-bottom: 1rem;
  }
  .topic-answers .topic-answer .answer-body {
    margin-left: 1rem;
  }
  .topic-answers .topic-answer .answer-actions {
    margin-left: 1rem;
  }
  .topic-answers .topic-answer .answer-actions a {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .add-comment-box {
    left: 2rem;
    right: 2rem;
    width: calc(100vw - 4rem);
  }
}
body.dark-mode .topic-content {
  background-color: #161b22;
  box-shadow: none;
}
body.dark-mode .topic-content .topic-header .topic-author a {
  color: #c9d1d9;
}
body.dark-mode .topic-content .topic-header .topic-author a:hover {
  color: #FFF;
}
body.dark-mode .topic-content .topic-header .topic-author .author-level {
  background-color: #ff4500;
  color: #FFF;
}
body.dark-mode .topic-content .topic-header .topic-create-date {
  color: #c9d1d9;
}
body.dark-mode .topic-content .topic-body .topic-title a {
  color: #FFF;
}
body.dark-mode .topic-content .topic-body .topic-context p {
  color: #c9d1d9;
}
body.dark-mode .topic-content .topic-body .topic-categories ul li a {
  color: #FFF;
  background-color: #ff4500;
}
body.dark-mode .topic-content .topic-statistics .statistics-left p {
  color: #c9d1d9;
}
body.dark-mode .topic-content .topic-statistics .statistics-right a {
  color: #c9d1d9;
}
body.dark-mode .topic-content .topic-statistics .statistics-right a:hover {
  color: #FFF;
}
body.dark-mode .topic-answers h4 {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer {
  background-color: #161b22;
  box-shadow: none;
}
body.dark-mode .topic-answers .topic-answer .vote-actions a {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .vote-actions a:hover {
  color: #FFF;
}
body.dark-mode .topic-answers .topic-answer .vote-actions .votecount {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .selected-answer i {
  color: #2da44e;
}
body.dark-mode .topic-answers .topic-answer .answer-header .answer-author a {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-header .answer-author a:hover {
  color: #FFF;
}
body.dark-mode .topic-answers .topic-answer .answer-header .answer-author .author-level {
  color: #FFF;
  background-color: #ff4500;
}
body.dark-mode .topic-answers .topic-answer .answer-header .answer-date {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-body .answer-context {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-actions a {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-actions a:hover {
  color: #FFF;
}
body.dark-mode .topic-answers .topic-answer .answer-comments {
  background-color: #0d1117;
}
body.dark-mode .topic-answers .topic-answer .answer-comments h6 {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-comments .comment {
  border-top: 1px solid #21262d;
}
body.dark-mode .topic-answers .topic-answer .answer-comments .comment .comment-header .comment-author a {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-comments .comment .comment-header .comment-author a:hover {
  color: #FFF;
}
body.dark-mode .topic-answers .topic-answer .answer-comments .comment .comment-header .comment-date {
  color: #c9d1d9;
}
body.dark-mode .topic-answers .topic-answer .answer-comments .comment .comment-body {
  color: #c9d1d9;
}
body.dark-mode .add-answer {
  background-color: #161b22;
  box-shadow: none;
}
body.dark-mode .add-answer form button {
  background-color: #ff4500;
  color: #FFF;
}
body.dark-mode .add-comment-box {
  background-color: #0d1117;
  box-shadow: none;
}
body.dark-mode .add-comment-box input {
  background-color: transparent;
  color: #FFF;
}
body.dark-mode .add-comment-box input::placeholder {
  color: #c9d1d9;
}
body.dark-mode .add-comment-box a {
  background-color: #ff4500;
  color: #FFF;
}
body.dark-mode .add-comment-box a#closeCommentBox {
  background-color: transparent;
  color: #cf222e;
}

main.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 4rem);
  background-image: url("../../../../assets/images/loginregisterbg.svg");
  background-position: center;
  background-size: cover;
}
main.login-main .login-box {
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
  padding: 2rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}
main.login-main .login-box h2 {
  color: #24292f;
}
main.login-main .login-box p {
  margin-bottom: 1rem;
  color: #24292f;
}
main.login-main .login-box form {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
main.login-main .login-box form label:focus-within > span,
main.login-main .login-box form input:not(:placeholder-shown) + span {
  color: #ff4500;
  transform: translateY(0px);
}
main.login-main .login-box form label {
  position: relative;
  color: #24292f;
}
main.login-main .login-box form label input {
  width: 100%;
  padding: 0.6rem 1.2rem;
  margin-top: 1rem;
  outline: none;
  border-bottom: 1px solid #ddd;
  color: #24292f;
}
main.login-main .login-box form label input::placeholder {
  opacity: 0;
  color: #24292f;
}
main.login-main .login-box form label span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(2rem);
  font-size: 0.825em;
  transition-duration: 150ms;
  z-index: 0;
}
main.login-main .login-box form button {
  background-color: #ff4500;
  color: #FFF;
  border-radius: 0.375rem;
  padding: 0.6rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main.login-main .login-box form p.register-text {
  text-align: center;
  margin-bottom: 0;
  color: #24292f;
}
main.login-main .login-box form p.register-text a {
  cursor: pointer;
  color: #ff4500;
}
main.login-main .login-box form p.or-separator {
  text-align: center;
  margin-bottom: 0;
  color: #24292f;
}
main.login-main .login-box form a.forgot-password {
  text-align: center;
  color: #ff4500;
}

#isPersistent {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

#isPersistentLabel {
  margin-top: 1rem;
  user-select: none;
}

body.dark-mode main.login-main .login-box {
  background-color: #161b22;
  box-shadow: none;
}
body.dark-mode main.login-main .login-box h2 {
  color: #c9d1d9;
}
body.dark-mode main.login-main .login-box p {
  color: #c9d1d9;
}
body.dark-mode main.login-main .login-box form label:focus-within > span,
body.dark-mode main.login-main .login-box form input:not(:placeholder-shown) + span {
  color: #ff4500;
}
body.dark-mode main.login-main .login-box form label {
  color: #c9d1d9;
}
body.dark-mode main.login-main .login-box form label input {
  border-bottom: 1px solid #21262d;
  color: #c9d1d9;
  background-color: transparent;
}
body.dark-mode main.login-main .login-box form label input::placeholder {
  color: #c9d1d9;
}
body.dark-mode main.login-main .login-box form button {
  background-color: #ff4500;
  color: #FFF;
}
body.dark-mode main.login-main .login-box form p.register-text {
  color: #c9d1d9;
}
body.dark-mode main.login-main .login-box form p.register-text a {
  color: #ff4500;
}
body.dark-mode main.login-main .login-box form p.or-separator {
  color: #c9d1d9;
}
body.dark-mode main.login-main .login-box form a.forgot-password {
  color: #ff4500;
}

.login-register-btn-box a.login-btn {
  color: #6e7781;
  transition: 150ms ease-in-out;
  margin-right: 1rem;
  font-weight: 500;
}
.login-register-btn-box a.login-btn:hover {
  color: #24292f;
}
.login-register-btn-box a.register-btn {
  color: #FFFFFF;
  background-color: #ff4500;
  padding: 0.6rem 1.2rem;
  border-radius: 0.375rem;
}

body.dark-mode .login-register-btn-box a.login-btn {
  color: #c9d1d9;
}
body.dark-mode .login-register-btn-box a.login-btn:hover {
  color: #FFF;
}
body.dark-mode .login-register-btn-box a.register-btn {
  color: #FFFFFF;
  background-color: #ff4500;
}

@media screen and (max-width: 992px) {
  .header-right .login-register-btn-box {
    display: none;
  }
}
main .user-profile-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(80vh - 4rem);
  position: relative;
  z-index: -1;
}
main .user-profile-banner .profile-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .user-profile-banner .profile-banner-image-color-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(1, 4, 9);
  background: linear-gradient(0deg, rgb(1, 4, 9) 0%, rgba(1, 4, 9, 0.65) 50%, rgba(1, 4, 9, 0.45) 100%);
  backdrop-filter: blur(10px);
}
main .user-profile {
  position: absolute;
  left: 5rem;
  right: 1rem;
  bottom: 1rem;
  top: 5rem;
  z-index: 0;
}
main .user-profile .user-profile-header.resposive-user-profile-header {
  background-color: rgba(1, 4, 9, 0.38);
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 1rem;
  position: fixed;
  top: 5rem;
  left: 5rem;
  right: 1rem;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}
main .user-profile .user-profile-header.resposive-user-profile-header .profile-details {
  flex-direction: row;
  justify-content: left;
  margin-bottom: 0;
}
main .user-profile .user-profile-header.resposive-user-profile-header .profile-details .profile-image {
  width: 2rem;
  height: 2rem;
}
main .user-profile .user-profile-header.resposive-user-profile-header .profile-details .profile-name-section {
  margin-top: 0;
}
main .user-profile .user-profile-header.resposive-user-profile-header .profile-details .profile-name-section .profile-fullname {
  font-size: 0.875rem;
  margin-left: 1rem;
}
main .user-profile .user-profile-header.resposive-user-profile-header .profile-details .follow-user-button {
  font-size: 0.875rem;
  padding: 0.3rem 0.6rem;
}
main .user-profile .user-profile-header.resposive-user-profile-header .profile-actions {
  width: auto;
  height: 2rem;
}
main .user-profile .user-profile-header.resposive-user-profile-header + .content-responsive {
  margin-top: 13rem !important;
}
main .user-profile .user-profile-header {
  margin-top: 10rem;
  transition: 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  transition: 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details .profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  transition: 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details .profile-name-section {
  margin-top: 1rem;
  display: flex;
  transition: 150ms ease-in-out;
  align-items: center;
}
main .user-profile .user-profile-header .profile-details .profile-name-section .profile-fullname {
  font-size: 2rem;
  color: #FFF;
  transition: 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details .profile-name-section .verified-profile {
  background-color: #3498db;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  transition: 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details .profile-name-section .verified-profile i {
  color: #FFF;
  transition: 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details .follow-user-button {
  background-color: #efe71d;
  margin-left: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  color: #010409;
  transition: all 150ms ease-in-out;
}
main .user-profile .user-profile-header .profile-details .follow-user-button:hover {
  background-color: #c4be21;
}
main .user-profile .user-profile-header .profile-details .follow-user-button i {
  margin-right: 0.5rem;
}
main .user-profile .user-profile-header .profile-actions {
  width: 100%;
  background-color: rgba(1, 4, 9, 0.38);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.11);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .community-header {
    flex-direction: column;
    align-items: center;
  }
  .community-actions ul li {
    margin-bottom: 1rem;
  }
  main .user-profile {
    left: 1rem;
  }
}
body.dark-mode .community-header {
  box-shadow: none;
}
body.dark-mode .community-header .community-name img {
  border-color: #010409;
}
body.dark-mode .community-header .community-name a {
  color: #FFF;
  text-shadow: #24292f;
}
body.dark-mode .community-header .community-actions ul li a {
  color: #FFF;
}
body.dark-mode .community-header .community-actions ul li a:hover {
  background-color: #ff4500;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #f6f8fa;
}
body.dark-mode {
  background-color: #010409;
}

.dark-layer {
  position: fixed;
  left: 0;
  top: 4rem;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: none;
}

.dark-layer-opened {
  display: block;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
.nopadding {
  padding: 0 !important;
}/*# sourceMappingURL=main.css.map */