.categories {
    margin-bottom: .5rem;
    margin-right: .5rem;

    .categories-header {
        margin-bottom: .5rem;

        a {
            font-size: $font-size-base;
            font-family: $font-family-secondary;
            color: $d-normal-text-color;
            font-weight: $font-weight-bold;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        li {
            a {
                display: flex;
                justify-content: left;
                align-items: center;
                padding: .2rem .5rem;
                border-radius: .3rem;
                width: 100%;
                font-size: $font-size-small;
                border: 1px solid $d-background-color-2;
                color: $d-normal-text-color;
                transition: $t-fast;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }
}


// body.dark-mode {
//     .categories {

//         .categories-header {
//             color: $dark-fg-default;
//         }

//         ul {
//             li {
//                 a {
//                     background-color: $dark-bg-default-45;
//                     color: $dark-fg-default;

//                     &:hover {
//                         background-color: $brand;
//                     }
//                 }
//             }
//         }
//     }
// }