nav.flow-navbar {
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 7.5rem;
    padding: .75rem;
    background-color: #000000;
    z-index: 1;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .flex-separator {
            flex: 1;
        }

        li {
            &:not(:last-child) {
                margin-right: .25rem;
            }

            a {
                &.active {
                    background-color: $primary-color;
                    color: $d-normal-text-color;
                }
                &:hover {
                    color: $d-normal-text-color;
                    background-color: $primary-color;
                }
                display: flex;
                align-items: center;
                border-radius: .35rem;
                font-size: .875rem;
                padding: .15rem .3rem;
                color: $d-normal-text-color;
                background-color: $d-background-color-2;
                transition: $t-normal;

                i {
                    margin-right: .5rem;
                }
            }
        }
    }
}

.index-page {
    nav.flow-navbar {
        top: 4rem;
    }
}

// body.dark-mode {
//     nav.flow-navbar {
//         background-color: #000000;
//         // border: $dark-border;
//         ul {
//             li {
                
//                 a {
//                     &.active {
//                         background-color: $brand;
//                     }
//                     &:hover {
//                         background-color: $brand;
//                     }
//                     background-color: $dark-bg-default;
//                     color: $dark-fg-default;
//                 }
//             }
//         }
//     }
// }