.main-left {
    padding: .5rem .5rem .5rem 0;
    position: sticky;
    top: 0;
}

.main-center {
    padding: 0 .5rem .5rem 0;
}

.main-right {
    position: sticky;
    top: 0;
    padding: .5rem 0;
}